*{
    margin: 0;
    padding: 0;
}
nav .container{
    /* background-color: #F8F9FA; */
}
.slider-color{
    background-color: #FCEAE8;
}
.category-color-1{
    background-color: #198754;
}
.category-img-width{
    width: 35%;
}

.button-style{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
        color: #fff;
        border: none;
        border-radius: 8px;
        padding: 9px 25px;
}
.button-style:hover{
    border: 0;
}
/*---------------------------------------------------------- mobile view-------------------------------------------------*/
@media only screen and (min-width: 0) and (max-width: 768px) {
    .mobile-format{
        text-align: center;
        flex-direction: column-reverse;
    }
    
}