*{
    margin: 0;
    padding: 0;
}
nav .container{
    /* background-color: #F8F9FA; */
}
.slider-color{
    background-color: #FCEAE8;
}
.category-color-1{
    background-color: #198754;
}
.category-img-width{
    width: 35%;
}