*{
    margin: 0;
    padding: 0;
}
nav .container{
    /* background-color: #F8F9FA; */
}
.slider-color{
    background-color: #FCEAE8;
}
.category-color-1{
    background-color: #198754;
}
.category-img-width{
    width: 35%;
}

.button-style{
    background-color: #FF297D;
    color: white;
    border: 0;
    padding: 10px 30px;
}
.button-style:hover{
    background-color: #FF297D;
    border: 0;
}